{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		table tbody td.table-action {
			display: flex !important;
			justify-content: space-evenly;
		}

		#filtrer .modal {
			height: 70%;
		}
	</style>
{% endblock stylesheets %}

{% block body %}
	<div class="container">
		<div style="display: flex; align-items: center; justify-content: space-between; margin: 1rem 0">
			<h1>
				<i class="fas fa-book"></i>
				Liste livres
			</h1>
			<div class="actions">
				<a class="btn waves-effect waves-light" href="{{ path('livre_new') }}">
					<i class="fas fa-plus"></i>
					Ajouter
				</a>
				<a class="waves-effect waves-light btn modal-trigger" href="#filtrer">
					<i class="fas fa-search"></i>
					Filtrer
				</a>
			</div>
		</div>


		<table class="table striped responsive-table centered">
			<thead>
				<tr>
					<th><i class="fas fa-barcode" style="margin-right: 5px"></i>ISBN</th>
					<th><i class="fas fa-book" style="margin-right: 5px"></i>Titre</th>
					<th><i class="fas fa-file-alt" style="margin-right: 5px"></i>Nombre de pages</th>
					<th><i class="fas fa-calendar-check" style="margin-right: 5px"></i>Date de parution</th>
					<th><i class="fas fa-star" style="margin-right: 5px"></i>Note</th>
					<th><i class="fas fa-user-graduate" style="margin-right: 5px"></i>Auteurs</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for livre in livres %}
					<tr>
						<td>{{ livre.isbn }}</td>
						<td style="width: 25%">{{ livre.titre }}</td>
						<td>{{ livre.nbpages }}</td>
						<td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
						<td>{{ livre.note }}</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger tooltipped" href="{{'#livre-' ~ livre.id}}" data-position="bottom" data-tooltip="Voir ses auteurs">
								<i class="fas fa-user-graduate"></i>
							</a>
						</td>
						<td class="table-action">
							<a class="btn tooltipped" data-position="bottom" data-tooltip="Voir" href="{{ path('livre_show', {'id': livre.id}) }}">
								<i class="fas fa-eye"></i>
							</a>
							<a class="btn tooltipped amber darken-3" data-position="bottom" data-tooltip="Modifier" href="{{ path('livre_edit', {'id': livre.id}) }}">
								<i class="fas fa-edit"></i>
							</a>
							{{ include('livre/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun livre trouvé !</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% for livre in livres %}
			<!-- Modal Structure -->
			<div id="{{'livre-' ~ livre.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<ul class="collection with-header">
						<li class="collection-header">
							<h4>Auteurs</h4>
						</li>
						{% for auteur in livre.auteurs %}
							<li class="collection-item">
								<div>
									{{ auteur.nomPrenom }}
									<a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="secondary-content">
										<i class="material-icons">send</i>
									</a>
								</div>
							</li>
						{% else %}
							<li class="collection-item">
								Aucun auteur trouvé !
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat red darken-1 white-text">Fermer</a>
				</div>
			</div>
		{% endfor %}

		<!-- Modal Structure -->
		<div id="filtrer" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Filtrer les livres</h4>

				<ul id="tabs-swipe-demo" class="tabs tabs-title" style="margin-bottom: 1rem;">
					<li class="tab col s3">
						<a class="active" href="#test-swipe-1">Titre</a>
					</li>
					<li class="tab col s3">
						<a href="#test-swipe-2">Date de parution et/ou note</a>
					</li>
					<li class="tab col s3">
						<a href="#test-swipe-3">Parité Homme/Femme</a>
					</li>
					<li class="tab col s3">
						<a href="#test-swipe-4">Nationalité</a>
					</li>
				</ul>
				<div id="test-swipe-1" class="col s12">
					{{ render(path('livre_filtrer_titre')) }}
				</div>
				<div id="test-swipe-2" class="col s12">
					{{ render(path('livre_filtrer_dates_note')) }}
				</div>
				<div id="test-swipe-3" class="col s12">
					{{ render(path('livre_filtrer_parite')) }}
				</div>
				<div id="test-swipe-4" class="col s12">
					{{ render(path('livre_filtrer_nationalite')) }}
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
			</div>
		</div>
	</div>
{% endblock %}
