{% extends 'base.html.twig' %}

{% block title %}Auteur index
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		table tbody td.table-action {
			display: flex !important;
			justify-content: space-evenly;
		}
	</style>
{% endblock stylesheets %}

{% block body %}
	<div class="container">
		<div style="display: flex; align-items: center; justify-content: space-between; margin: 1rem 0">
			<h1>
				<i class="fas fa-user-tie"></i>
				Liste auteurs
			</h1>
			<div class="actions">
				<a class="btn waves-effect waves-light" href="{{ path('auteur_new') }}">
					<i class="fas fa-plus"></i>
					Ajouter
				</a>
				<a class="waves-effect waves-light btn modal-trigger" href="#filtrer">
					<i class="fas fa-search"></i>
					Filtrer
				</a>
			</div>
		</div>

		<table class="table striped responsive-table centered">
			<thead>
				<tr>
					<th>
						<i class="fas fa-signature" style="margin-right: 5px"></i>
						Nom Prénom
					</th>
					<th>
						<i class="fas fa-venus-mars" style="margin-right: 5px"></i>
						Sexe
					</th>
					<th>
						<i class="fas fa-calendar-day" style="margin-right: 5px"></i>
						Date de naissance
					</th>
					<th>
						<i class="fas fa-flag" style="margin-right: 5px"></i>
						Nationalité
					</th>
					<th>
						<i class="fas fa-book" style="margin-right: 5px"></i>Livres
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for auteur in auteurs %}
					<tr>
						<td>{{ auteur.nomPrenom }}</td>
						<td>
							{% if auteur.sexe == 'M' %}
								<i class="fas fa-mars"></i>
								Homme
							{% else %}
								<i class="fas fa-venus"></i>
								Femme
							{% endif %}
						</td>
						<td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
						<td>{{ auteur.nationalite }}</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger tooltipped" data-position="bottom" data-tooltip="Voir ses livres" href="{{'#auteur-' ~ auteur.id}}">
								<i class="fas fa-book"></i>
							</a>
						</td>
						<td class="table-action">
							<a class="btn tooltipped" data-position="bottom" data-tooltip="Voir" href="{{ path('auteur_show', {'id': auteur.id}) }}">
								<i class="fas fa-eye"></i>
							</a>
							<a class="btn tooltipped amber darken-3" data-position="bottom" data-tooltip="Modifier" href="{{ path('auteur_edit', {'id': auteur.id}) }}">
								<i class="fas fa-edit"></i>
							</a>
							{{ include('auteur/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% for auteur in auteurs %}
		<!-- Modal Structure -->
		<div id="{{'auteur-' ~ auteur.id}}" class="modal modal-fixed-footer">
			<div class="modal-content">
				<ul class="collection with-header">
					<li class="collection-header">
						<h4>Livres</h4>
					</li>
					{% for livre in auteur.livres %}
						<li class="collection-item">
							<div>
								{{ livre.titre }}
								<a href="{{ path('livre_show', {'id': livre.id}) }}" class="secondary-content">
									<i class="material-icons">send</i>
								</a>
							</div>
						</li>
					{% else %}
						<li class="collection-item">
							Aucun livre trouvé !
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat red darken-1 white-text">Fermer</a>
			</div>
		</div>
	{% endfor %}
	<!-- Modal Structure -->
	<div id="filtrer" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Filtrer les auteurs</h4>

			<ul id="tabs-swipe-demo" class="tabs tabs-title" style="margin-bottom: 1rem;">
				<li class="tab col s3">
					<a class="active" href="#test-swipe-1">Plus de 3 livres</a>
				</li>
			</ul>
			<div id="test-swipe-1" class="col s12">
				{{ render(path('auteur_filtrer_3_livres')) }}
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
		</div>
	</div>

{% endblock %}
