<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Book Land -
			{% block title %}{% endblock %}
		</title>
		<!--Import Google Font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">

		<!--Import Google Icon Font-->
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!--Let browser know website is optimized for mobile-->
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Import customized style -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="{{ asset('/assets/style.css') }}"/>
		<link rel="stylesheet" href="{{ asset('/assets/css/all.min.css') }}"/>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-wrapper">
				<a href="{{ path('accueil') }}" class="brand-logo">
					<img src="{{ asset('/assets/logo.png') }}" width="155"/>
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href="{{ path('accueil') }}">
							<i class="fas fa-building"></i>
							Accueil
						</a>
					</li>
					<li>
						<a href="{{ path('auteur_index') }}" style="display: flex;">
							<i class="fas fa-user-tie"></i>
							Auteurs
						</a>
					</li>
					<li>
						<a href="{{ path('livre_index') }}">
							<i class="fas fa-book"></i>
							Livres
						</a>
					</li>
					<li>
						<a href="{{ path('genre_index') }}">
							<i class="fas fa-sign"></i>
							Genres
						</a>
					</li>
					<li>
						<a 
							href="{{ path('init') }}" 
							class="tooltipped amber darken-2" 
							data-position="bottom" 
							data-tooltip="Initialiser">
							<i class="fas fa-power-off" style="margin: 0"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script>
		document.addEventListener('DOMContentLoaded', function() {
			var Calendar = document.querySelectorAll('.datepicker');
			M.Datepicker.init(Calendar, {
				format: 'yyyy-mm-dd'
			});

			var modal = document.querySelectorAll('.modal');
			M.Modal.init(modal, {});

			var Select = document.querySelectorAll('select');
			M.FormSelect.init(Select, {});

			var tooltip = document.querySelectorAll('.tooltipped');
			M.Tooltip.init(tooltip, {});

			var tabs = document.querySelectorAll('.tabs');
			M.Tabs.init(tabs, {});
			
		});
		</script>
		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</body>
</html>
